/* customStyles.css */

/* Overlay for modals */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Modal container */
.custom-modal {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 100px auto;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Modal title */
.custom-modal h2 {
    margin-top: 0;
    font-size: 1.5em;
}

/* Input fields */
.custom-modal input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

/* Button container in modal */
.custom-btn-container {
    text-align: right;
}

/* Modal buttons */
.custom-modal button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    border-radius: 2px;
    cursor: pointer;
}

#sfNGTabsURL li:hover {
    background: rgb(243, 243, 243);
    button {
        background: rgb(243, 243, 243);
    }
}

#sfNGTabsURL button:hover {
    background: rgb(243, 243, 243);
}

/* Styling for the tab list */
#sfNGTabsURL {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styling for each tab LI */
#sfNGTabsURL li {
    border-right: 1px solid #ccc;
    cursor: pointer;
}

/* Plus and Edit LI items */
#plusLi button,
#editLi button {
    padding: 8px 10px;
    background: #fff;
    border: none;
    cursor: pointer;
    border-left: none;
}

/* Plus and Edit LI items */
#editLi button {
    border-radius: 0px;
}

#editLi {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.custom-modal input::placeholder {
    color: #ccc;
    opacity: 1;
}

#plusLi,
#editLi {
    border: none;
}

ul#sfNGTabsURL li:not(#plusLi):not(#editLi) {
    padding: 8px 10px;
}
